body {
    color: #ffffff;
    background-image: url('./images/bg.jpg');
    background-size: 100vw;
    text-align: center;
    padding-top: 100px;
}

canvas {
    /* border: 1px solid blue; */
    background-image: url("./images/sand.jpg");
    text-align: center;
}

#start,
#game-over,
#you-win {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 20px;
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    margin-left: -140px;
    height: 200px;
    width: 250px;
    text-align: center;
}

#start a,
#game-over a,
#you-win a {
    border: 3px solid white;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    font-size: 2em;
    display: inline-block;
}

/* #start a:hover,
#game-over a:hover {
    background-color: white;
    color: #1bafdb;
} */